/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: 'Abel', sans-serif;
	height: 100vh;
	overflow: hidden;
}

.nakano__wrapper{
	height: 100%;
}

.barba-container{
	height: 100%;
}

.container{
	height: 100%;
	background-color: #e62d13;
	background-image: url('images/background-nak.jpg');
	background-size: cover;
}

.nav{
	background: reb
/*	padding-left: 4%;
	padding-top: 16px;*/
}

.nav__items{
	width: auto;
	display: flex;
	position: absolute;
	right: 30px;
	top: 45px;
}

li a{
	font-family: helvetica;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	opacity: 0.6;
	font-size: 14px;
	text-decoration: none;
	margin-right: 16px;
}

.nav-image{
	/*display: inline-block;*/
	padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 24px;
}

.nav-image img{
	max-width: 105px;
	height: auto;
}

.hero__container{
	
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;

}

.hero__inner-container{
	margin-top: -85px;
	max-width: 768rem;
}

.hero__text-container{
	margin-left: 4%;	
}

.hero__text-container h2{
	font-family: helvetica, sans-serif;
	font-size: 42px;
	font-weight: 700;
	color: white;
	margin-bottom: 50px;
}

.hero__text-container p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 40px;
	line-height: 1.4;
	max-width: 950px;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: white;
}

/** Contact Us **/

.contact-us__container .hero__inner-container{
	margin-top: 0;
    max-width: none;
    display: flex;
    width: 100%;
    height: 100%;
}

.contact-us__container .hero__inner-container--left{
	width: 30%;
	background-color: #e62d13;
}
.contact-us__container .hero__inner-container--right{
	/*background-color: #e62d13;*/
	width: 70%;
	background-image: url('images/big-wave.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}

.contact-us__container .contact-details{
	background-color: white;
	max-width: 635px;
	padding-top: 47px;
	padding-left: 143px;
	padding-right: 143px;
	padding-bottom: 60px;
	text-align: center;
	position: relative;
	left: -15.0714285714%;
	top: 70px;
}

.contact-us__container .contact-details h2{
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.36;
	color: black;
	margin-bottom: 47px;
}

.contact-us__container .contact-details h3{
	font-size: 28px;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	letter-spacing: 1.2px;
	padding-bottom: 10px;
	color: black;
}

.contact-us__container .contact-details p {
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: black;
	line-height: 1.3571428571;
	margin-bottom: 46px;
}

.contact-us__container .contact-details p:last-child {
	margin-bottom: 0;
}

.hero-banner-container{
	background-color: white;
	text-align: center;
}

.hero-banner-container h1{
	font-size: 48px;
	letter-spacing: 1.2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-top: 5vh;
    padding-bottom: 5.2vh;
}



